name: build base images

on:
  schedule:
    branches:
      - main
    - cron: "0 0 * * 1"
  push:
    branches:
      - dev-images
    paths:
      - arm64/**
      
jobs:
  push:
    name: "arm64:os_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - debian
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: ./arm64/${{ matrix.tag }}
          file: ./arm64/${{ matrix.tag }}/Dockerfile
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/winterolym/arm64:os_${{ matrix.tag }}